In [1]:
# =============================================================================
# sort_values() 함수 설명
# sort_values() 함수는 특정 컬럼을 기준으로 데이터프레임을 정렬하는 데 사용됩니다.
# 오름차순(ascending=True) 또는 내림차순(ascending=False) 정렬이 가능합니다.

# 기본 문법:
# df.sort_values(by="컬럼명", ascending=True or False)
# =============================================================================

import pandas as pd  # Pandas 라이브러리 불러오기

# 1. Titanic 데이터셋 불러오기 (파일 경로는 사용자 환경에 맞게 변경)
df = pd.read_csv("../data/titanic.csv")  # Titanic 데이터셋을 불러옴

In [2]:
# 2. 데이터프레임 기본 정보 확인
print("데이터프레임 기본 정보:")
df.info()  # 컬럼 정보, 데이터 타입, 결측치 개수 등을 확인

데이터프레임 기본 정보:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [3]:
# 3. 숫자형 데이터의 기본 통계 분석
print("\n숫자형 데이터의 요약 통계:")
df.describe()  # 평균, 표준편차, 최소/최대값 등의 기본 통계 정보 확인

숫자형 데이터의 요약 통계:

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [5]:
# 4. 승객 데이터를 요금(Fare) 기준으로 내림차순 정렬
df_sorted_fare = df.sort_values(by="Fare", ascending=False)  # Fare 기준으로 내림차순 정렬
print("\n요금(Fare) 기준 내림차순 정렬된 승객 데이터 (상위 5개):")
df_sorted_fare.head()  # 정렬된 데이터 상위 5개 확인

요금(Fare) 기준 내림차순 정렬된 승객 데이터 (상위 5개):

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,19950,263.0000,C23 C25 C27,S
438,439,0,1,"Fortune, Mr. Mark",male,64.0,1,4,19950,263.0000,C23 C25 C27,S

In [6]:

# 5. 승객 데이터를 나이(Age) 기준으로 오름차순 정렬
df_sorted_age = df.sort_values(by="Age", ascending=True)  # Age 기준으로 오름차순 정렬
print("\n나이(Age) 기준 오름차순 정렬된 승객 데이터 (상위 5개):")
df_sorted_age.head()  # 정렬된 데이터 상위 5개 확인

나이(Age) 기준 오름차순 정렬된 승객 데이터 (상위 5개):

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S

In [8]:

# 6. 가중 평균 요금(Fare) 계산
# 가중 평균을 사용하는 이유:
# - 일반 평균(mean)은 모든 데이터를 동일한 가중치로 다룹니다.
# - 하지만 Pclass(선실 등급)에 따라 요금이 다르고, 1등석 승객이 더 비싼 요금을 지불하는 경향이 있음.
# - 따라서 선실 등급별 가중치를 고려하여 가중 평균을 계산하면, 보다 현실적인 요금의 중심 값을 얻을 수 있음.

# Pclass의 역수를 가중치로 사용 (1등석은 가중치가 가장 큼, 3등석은 가장 작음)
df["Pclass_weight"] = 1 / df["Pclass"]  

# 가중 평균 공식:
# Σ(Fare × 가중치) / Σ(가중치)
weighted_fare_avg = (df["Fare"] * df["Pclass_weight"]).sum() / df["Pclass_weight"].sum()
print(f"\n가중 평균 요금(Fare): {weighted_fare_avg:.2f}")

가중 평균 요금(Fare): 47.31

In [15]:
# 7. 나이를 가중치로 활용한 새로운 가중 평균 계산
# - 어린 승객(어린이, 청소년)과 성인 승객의 요금 기여도가 다를 가능성이 있음.
# - 따라서 나이를 가중치로 활용하여, 연령대가 다른 승객들이 지불한 요금의 가중 평균을 계산.

# 결측치가 있는 Age 컬럼을 먼저 처리
df["Age"] = df["Age"].fillna(df["Age"].median())  # 결측치는 중앙값으로 대체

# 나이를 가중치로 사용하여 가중 평균 요금 계산
weighted_fare_by_age = (df["Fare"] * df["Age"]).sum() / df["Age"].sum()
print(f"\n나이를 가중치로 고려한 가중 평균 요금(Fare): {weighted_fare_by_age:.2f}")

TypeError: Cannot convert [22.0 38.0 26.0 35.0 35.0 <bound method Series.mean of 0      22.0
                          1      38.0
                          2      26.0
                          3      35.0
                          4      35.0
                                 ...
                          886    27.0
                          887    19.0
                          888     NaN
                          889    26.0
                          890    32.0
                          Name: Age, Length: 891, dtype: float64>  54.0
 2.0 27.0 14.0 4.0 58.0 20.0 39.0 14.0 55.0 2.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  31.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  35.0 34.0 15.0 28.0 8.0 38.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  19.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  40.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  66.0 28.0 42.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  21.0 18.0 14.0 40.0 27.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  3.0 19.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  18.0 7.0 21.0 49.0 29.0 65.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  21.0 28.5 5.0 11.0 22.0 38.0
 45.0 4.0 <bound method Series.mean of 0      22.0
          1      38.0
          2      26.0
          3      35.0
          4      35.0
                 ...
          886    27.0
          887    19.0
          888     NaN
          889    26.0
          890    32.0
          Name: Age, Length: 891, dtype: float64>
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  29.0 19.0 17.0 26.0 32.0 16.0
 21.0 26.0 32.0 25.0 <bound method Series.mean of 0      22.0
                     1      38.0
                     2      26.0
                     3      35.0
                     4      35.0
                            ...
                     886    27.0
                     887    19.0
                     888     NaN
                     889    26.0
                     890    32.0
                     Name: Age, Length: 891, dtype: float64>
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  0.83 30.0 22.0 29.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  28.0 17.0 33.0 16.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  23.0 24.0 29.0 20.0 46.0 26.0
 59.0 <bound method Series.mean of 0      22.0
      1      38.0
      2      26.0
      3      35.0
      4      35.0
             ...
      886    27.0
      887    19.0
      888     NaN
      889    26.0
      890    32.0
      Name: Age, Length: 891, dtype: float64>  71.0 23.0 34.0 34.0 28.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  21.0 33.0 37.0 28.0 21.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  38.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  47.0 14.5 22.0 20.0 17.0 21.0
 70.5 29.0 24.0 2.0 21.0 <bound method Series.mean of 0      22.0
                         1      38.0
                         2      26.0
                         3      35.0
                         4      35.0
                                ...
                         886    27.0
                         887    19.0
                         888     NaN
                         889    26.0
                         890    32.0
                         Name: Age, Length: 891, dtype: float64>  32.5
 32.5 54.0 12.0 <bound method Series.mean of 0      22.0
                1      38.0
                2      26.0
                3      35.0
                4      35.0
                       ...
                886    27.0
                887    19.0
                888     NaN
                889    26.0
                890    32.0
                Name: Age, Length: 891, dtype: float64>  24.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  45.0 33.0 20.0 47.0 29.0 25.0
 23.0 19.0 37.0 16.0 24.0 <bound method Series.mean of 0      22.0
                          1      38.0
                          2      26.0
                          3      35.0
                          4      35.0
                                 ...
                          886    27.0
                          887    19.0
                          888     NaN
                          889    26.0
                          890    32.0
                          Name: Age, Length: 891, dtype: float64>  22.0
 24.0 19.0 18.0 19.0 27.0 9.0 36.5 42.0 51.0 22.0 55.5 40.5
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  51.0 16.0 30.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  44.0 40.0 26.0 17.0 1.0 9.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  45.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  28.0 61.0 4.0 1.0 21.0 56.0 18.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  50.0 30.0 36.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  9.0 1.0 4.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  45.0 40.0 36.0 32.0 19.0 19.0
 3.0 44.0 58.0 <bound method Series.mean of 0      22.0
               1      38.0
               2      26.0
               3      35.0
               4      35.0
                      ...
               886    27.0
               887    19.0
               888     NaN
               889    26.0
               890    32.0
               Name: Age, Length: 891, dtype: float64>  42.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  24.0 28.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  34.0 45.5 18.0 2.0 32.0 26.0
 16.0 40.0 24.0 35.0 22.0 30.0 <bound method Series.mean of 0      22.0
                               1      38.0
                               2      26.0
                               3      35.0
                               4      35.0
                                      ...
                               886    27.0
                               887    19.0
                               888     NaN
                               889    26.0
                               890    32.0
                               Name: Age, Length: 891, dtype: float64>
 31.0 27.0 42.0 32.0 30.0 16.0 27.0 51.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  38.0 22.0 19.0 20.5 18.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  35.0 29.0 59.0 5.0 24.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  44.0 8.0 19.0 33.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  29.0 22.0 30.0 44.0 25.0 24.0
 37.0 54.0 <bound method Series.mean of 0      22.0
           1      38.0
           2      26.0
           3      35.0
           4      35.0
                  ...
           886    27.0
           887    19.0
           888     NaN
           889    26.0
           890    32.0
           Name: Age, Length: 891, dtype: float64>  29.0 62.0 30.0 41.0
 29.0 <bound method Series.mean of 0      22.0
      1      38.0
      2      26.0
      3      35.0
      4      35.0
             ...
      886    27.0
      887    19.0
      888     NaN
      889    26.0
      890    32.0
      Name: Age, Length: 891, dtype: float64>  30.0 35.0 50.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  3.0 52.0 40.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  36.0 16.0 25.0 58.0 35.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  25.0 41.0 37.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  63.0 45.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  7.0 35.0 65.0 28.0 16.0 19.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  33.0 30.0 22.0 42.0 22.0 26.0
 19.0 36.0 24.0 24.0 <bound method Series.mean of 0      22.0
                     1      38.0
                     2      26.0
                     3      35.0
                     4      35.0
                            ...
                     886    27.0
                     887    19.0
                     888     NaN
                     889    26.0
                     890    32.0
                     Name: Age, Length: 891, dtype: float64>  23.5 2.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  50.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  19.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  0.92
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  17.0 30.0 30.0 24.0 18.0 26.0
 28.0 43.0 26.0 24.0 54.0 31.0 40.0 22.0 27.0 30.0 22.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  36.0 61.0 36.0 31.0 16.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  45.5 38.0 16.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  29.0 41.0 45.0 45.0 2.0 24.0
 28.0 25.0 36.0 24.0 40.0 <bound method Series.mean of 0      22.0
                          1      38.0
                          2      26.0
                          3      35.0
                          4      35.0
                                 ...
                          886    27.0
                          887    19.0
                          888     NaN
                          889    26.0
                          890    32.0
                          Name: Age, Length: 891, dtype: float64>  3.0
 42.0 23.0 <bound method Series.mean of 0      22.0
           1      38.0
           2      26.0
           3      35.0
           4      35.0
                  ...
           886    27.0
           887    19.0
           888     NaN
           889    26.0
           890    32.0
           Name: Age, Length: 891, dtype: float64>  15.0 25.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  28.0 22.0 38.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  40.0 29.0 45.0 35.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>  30.0 60.0
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0
 Name: Age, Length: 891, dtype: float64>
 <bound method Series.mean of 0      22.0
 1      38.0
 2      26.0
 3      35.0
 4      35.0
        ...
 886    27.0
 887    19.0
 888     NaN
 889    26.0
 890    32.0

In [14]:
print(df["Age"])

0                                                   22.0
1                                                   38.0
2                                                   26.0
3                                                   35.0
4                                                   35.0
                             ...
886                                                 27.0
887                                                 19.0
888    <bound method Series.mean of 0      22.0\n1   ...
889                                                 26.0
890                                                 32.0
Name: Age, Length: 891, dtype: object